## Importing Libraries
- numpy
- pandas
- matplotlib

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Reading Dataset

In [2]:
used_devices = pd.read_csv("used_device_data.csv")
used_devices

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,used_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,74.26
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,174.53
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,165.85
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,169.93
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,80.64
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3449,Asus,Android,15.34,yes,no,NaN,8.0,64.0,6.0,5000.0,190.0,2019,232,89.33
3450,Asus,Android,15.24,yes,no,13.0,8.0,128.0,8.0,4000.0,200.0,2018,541,154.12
3451,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,3.0,4000.0,165.0,2020,201,78.05
3452,Alcatel,Android,15.80,yes,no,13.0,5.0,32.0,2.0,4000.0,160.0,2020,149,77.46
3453,Alcatel,Android,12.83,yes,no,13.0,5.0,16.0,2.0,4000.0,168.0,2020,176,62.31

In [3]:
 ## lets show first five rows
used_devices.head()

,brand_name,os,screen_size,4g,5g,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,used_price
0,Honor,Android,14.50,yes,no,13.0,5.0,64.0,3.0,3020.0,146.0,2020,127,74.26
1,Honor,Android,17.30,yes,yes,13.0,16.0,128.0,8.0,4300.0,213.0,2020,325,174.53
2,Honor,Android,16.69,yes,yes,13.0,8.0,128.0,8.0,4200.0,213.0,2020,162,165.85
3,Honor,Android,25.50,yes,yes,13.0,8.0,64.0,6.0,7250.0,480.0,2020,345,169.93
4,Honor,Android,15.32,yes,no,13.0,8.0,64.0,3.0,5000.0,185.0,2020,293,80.64

In [4]:
## lets show the size of dataset in rows and columns
used_devices.shape

(3454, 14)

In [5]:
# lets show a complete concise of dataset
used_devices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3454 entries, 0 to 3453
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand_name        3454 non-null   object
 1   os                3454 non-null   object
 2   screen_size       3454 non-null   float64
 3   4g                3454 non-null   object
 4   5g                3454 non-null   object
 5   main_camera_mp    3275 non-null   float64
 6   selfie_camera_mp  3452 non-null   float64
 7   int_memory        3450 non-null   float64
 8   ram               3450 non-null   float64
 9   battery           3448 non-null   float64
 10  weight            3447 non-null   float64
 11  release_year      3454 non-null   int64
 12  days_used         3454 non-null   int64
 13  used_price        3454 non-null   float64
dtypes: float64(8), int64(2), object(4)
memory usage: 377.9+ KB

In [6]:
used_devices['brand_name'].unique()

array(['Honor', 'Others', 'HTC', 'Huawei', 'Infinix', 'Lava', 'Lenovo',
       'LG', 'Meizu', 'Micromax', 'Motorola', 'Nokia', 'OnePlus', 'Oppo',
       'Realme', 'Samsung', 'Vivo', 'Xiaomi', 'ZTE', 'Apple', 'Asus',
       'Coolpad', 'Acer', 'Alcatel', 'BlackBerry', 'Celkon', 'Gionee',
       'Google', 'Karbonn', 'Microsoft', 'Panasonic', 'Sony', 'Spice',
       'XOLO'], dtype=object)

In [7]:
# concise statistics
used_devices.describe()

,screen_size,main_camera_mp,selfie_camera_mp,int_memory,ram,battery,weight,release_year,days_used,used_price
count,3454.000000,3275.000000,3452.000000,3450.000000,3450.000000,3448.000000,3447.000000,3454.000000,3454.000000,3454.000000
mean,13.713115,9.460208,6.554229,54.573099,4.036122,3133.402697,182.751871,2015.965258,674.869716,92.302936
std,3.805280,4.815461,6.970372,84.972371,1.365105,1299.682844,88.413228,2.298455,248.580166,54.701648
min,5.080000,0.080000,0.000000,0.010000,0.020000,500.000000,69.000000,2013.000000,91.000000,4.650000
25%,12.700000,5.000000,2.000000,16.000000,4.000000,2100.000000,142.000000,2014.000000,533.500000,56.482500
50%,12.830000,8.000000,5.000000,32.000000,4.000000,3000.000000,160.000000,2015.500000,690.500000,81.870000
75%,15.340000,13.000000,8.000000,64.000000,4.000000,4000.000000,185.000000,2018.000000,868.750000,116.245000
max,30.710000,48.000000,32.000000,1024.000000,12.000000,9720.000000,855.000000,2020.000000,1094.000000,749.520000

## Preparing Dataset
- cleaning
- removing errors(duplicates)

In [8]:
# lets show (concise of) cells which are empty in dataset
used_devices.isnull().sum()

brand_name            0
os                    0
screen_size           0
4g                    0
5g                    0
main_camera_mp      179
selfie_camera_mp      2
int_memory            4
ram                   4
battery               6
weight                7
release_year          0
days_used             0
used_price            0
dtype: int64

## Find Mean Value for Null Columns
This is to find the mean for only columns with Null values
  * main_camera_mp
    * selfie_camera_mp
    * int_memory
    * ram
    * battery
    * weight

In [9]:
# main_camera_mp mean
used_devices['main_camera_mp'].mean()
main_camera_mean = round(used_devices['main_camera_mp'].mean(), 0)
main_camera_mean

9.0

In [10]:
# selfie_camera_mp mean
used_devices['selfie_camera_mp'].mean()
selfie_camera_mp_mean = round(used_devices['selfie_camera_mp'].mean(), 0)
selfie_camera_mp_mean

7.0

In [11]:
# int_memory mean
used_devices['int_memory'].mean()
int_memory_mean = round(used_devices['int_memory'].mean(), 0)
int_memory_mean

55.0

In [12]:
# ram mean
used_devices['ram'].mean()
ram_mean = round(used_devices['ram'].mean(), 0)
ram_mean

4.0

In [13]:
# battery mean
used_devices['battery'].mean()
battery_mean = round(used_devices['battery'].mean(), 0)
battery_mean

3133.0

In [14]:
# weight mean
used_devices['weight'].mean()
weight_mean = round(used_devices['weight'].mean(), 0)
weight_mean

183.0

## Replacing Null Values with Mean Value
 - We will be handling all cells with null values to make it consistent with our dataset

In [15]:
used_devices['main_camera_mp'].fillna(main_camera_mean, inplace = True)
used_devices['selfie_camera_mp'].fillna(selfie_camera_mp_mean, inplace = True)
used_devices['int_memory'].fillna(int_memory_mean, inplace = True)
used_devices['ram'].fillna(ram_mean, inplace = True)
used_devices['battery'].fillna('battery_mean', inplace = True)
used_devices['weight'].fillna(weight_mean, inplace = True)

C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['main_camera_mp'].fillna(main_camera_mean, inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['selfie_camera_mp'].fillna(selfie_camera_mp_mean, inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['int_memory'].fillna(int_memory_mean, inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['ram'].fillna(ram_mean, inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['battery'].fillna('battery_mean', inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'battery_mean' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  used_devices['battery'].fillna('battery_mean', inplace = True)
C:\Users\hp\AppData\Local\Temp\ipykernel_7236\414456269.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  used_devices['weight'].fillna(weight_mean, inplace = True)